In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from math import exp
import datetime as dt
#plt.rcParams["figure.figsize"] = (10,6)
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
#importing libraries
import datetime as dt
import pandas as pd

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\hp\anaconda3\lib\site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in c:\users\hp\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
#reading data
df = pd.read_excel("HotelCustomersDataset.xlsx")
df.head()

,ID,Nationality,Age,DaysSinceCreation,NameHash,DocIDHash,AverageLeadTime,LodgingRevenue,OtherRevenue,BookingsCanceled,...,SRMediumFloor,SRBathtub,SRShower,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRAwayFromElevator,SRNoAlcoholInMiniBar,SRQuietRoom
0,1,PRT,51.0,150,0x8E0A7AF39B633D5EA25C3B7EF4DFC5464B36DB7AF375...,0x71568459B729F7A7ABBED6C781A84CA4274D571003AC...,45,371.0,105.3,1,...,0,0,0,0,0,0,0,0,0,0
1,2,PRT,NaN,1095,0x21EDE41906B45079E75385B5AA33287CA09DE1AB86DE...,0x5FA1E0098A31497057C5A6B9FE9D49FD6DD47CCE7C26...,61,280.0,53.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,DEU,31.0,1095,0x31C5E4B74E23231295FDB724AD578C02C4A723F4BA2B...,0xC7CF344F5B03295037595B1337AC905CA188F1B5B3A5...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,FRA,60.0,1095,0xFF534C83C0EF23D1CE516BC80A65D0197003D27937D4...,0xBD3823A9B4EC35D6CAF4B27AE423A677C0200DB61E82...,93,240.0,60.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,FRA,51.0,1095,0x9C1DEF02C9BE242842C1C1ABF2C5AA249A1EEB4763B4...,0xE175754CF77247B202DD0820F49407C762C14A603B3A...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.shape

(83590, 31)

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,83590.0,41795.500000,24130.498838,1.0,20898.25,41795.5,62692.750,83590.00
Age,79811.0,45.398028,16.572368,-11.0,34.00,46.0,57.000,122.00
DaysSinceCreation,83590.0,453.640902,313.390291,0.0,177.00,397.0,723.000,1095.00
AverageLeadTime,83590.0,66.196028,87.758990,-1.0,0.00,29.0,103.000,588.00
LodgingRevenue,83590.0,298.802087,372.851892,0.0,59.00,234.0,402.000,21781.00
OtherRevenue,83590.0,67.589132,114.327776,0.0,2.00,38.5,87.675,7730.25
BookingsCanceled,83590.0,0.002022,0.066770,0.0,0.00,0.0,0.000,9.00
BookingsNoShowed,83590.0,0.000634,0.029545,0.0,0.00,0.0,0.000,3.00
BookingsCheckedIn,83590.0,0.794617,0.695778,0.0,1.00,1.0,1.000,66.00
PersonsNights,83590.0,4.649133,4.567673,0.0,1.00,4.0,6.000,116.00
RoomNights,83590.0,2.358536,2.281746,0.0,1.00,2.0,4.000,185.00
DaysSinceLastStay,83590.0,401.067137,347.204955,-1.0,26.00,366.0,693.000,1104.00
DaysSinceFirstStay,83590.0,403.349013,347.971089,-1.0,27.00,369.0,697.000,1186.00
SRHighFloor,83590.0,0.047482,0.212668,0.0,0.00,0.0,0.000,1.00
SRLowFloor,83590.0,0.001412,0.037546,0.0,0.00,0.0,0.000,1.00
SRAccessibleRoom,83590.0,0.000251,0.015848,0.0,0.00,0.0,0.000,1.00
SRMediumFloor,83590.0,0.000873,0.029539,0.0,0.00,0.0,0.000,1.00
SRBathtub,83590.0,0.002847,0.053284,0.0,0.00,0.0,0.000,1.00
SRShower,83590.0,0.001711,0.041326,0.0,0.00,0.0,0.000,1.00
SRCrib,83590.0,0.013219,0.114213,0.0,0.00,0.0,0.000,1.00
SRKingSizeBed,83590.0,0.352686,0.477809,0.0,0.00,0.0,1.000,1.00
SRTwinBed,83590.0,0.142541,0.349606,0.0,0.00,0.0,0.000,1.00
SRNearElevator,83590.0,0.000335,0.018299,0.0,0.00,0.0,0.000,1.00
SRAwayFromElevator,83590.0,0.003505,0.059101,0.0,0.00,0.0,0.000,1.00
SRNoAlcoholInMiniBar,83590.0,0.000120,0.010937,0.0,0.00,0.0,0.000,1.00
SRQuietRoom,83590.0,0.088372,0.283837,0.0,0.00,0.0,0.000,1.00

In [7]:
df.isnull().values.any()

True

In [8]:
df.isnull().sum()

ID                         0
Nationality                0
Age                     3779
DaysSinceCreation          0
NameHash                   0
DocIDHash                  0
AverageLeadTime            0
LodgingRevenue             0
OtherRevenue               0
BookingsCanceled           0
BookingsNoShowed           0
BookingsCheckedIn          0
PersonsNights              0
RoomNights                 0
DaysSinceLastStay          0
DaysSinceFirstStay         0
DistributionChannel        0
MarketSegment              0
SRHighFloor                0
SRLowFloor                 0
SRAccessibleRoom           0
SRMediumFloor              0
SRBathtub                  0
SRShower                   0
SRCrib                     0
SRKingSizeBed              0
SRTwinBed                  0
SRNearElevator             0
SRAwayFromElevator         0
SRNoAlcoholInMiniBar       0
SRQuietRoom                0
dtype: int64

In [11]:
df["Nationality"].nunique()

188

In [12]:
df["Nationality"].value_counts()

FRA    12422
PRT    11597
DEU    10232
GBR     8656
ESP     4902
       ...
WSM        1
GNQ        1
VIR        1
TMP        1
TON        1
Name: Nationality, Length: 188, dtype: int64

In [14]:
df.dropna(axis=0, how='all')  # untuk menghapus baris jika semua adalah nan

,ID,Nationality,Age,DaysSinceCreation,NameHash,DocIDHash,AverageLeadTime,LodgingRevenue,OtherRevenue,BookingsCanceled,...,SRMediumFloor,SRBathtub,SRShower,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRAwayFromElevator,SRNoAlcoholInMiniBar,SRQuietRoom
0,1,PRT,51.0,150,0x8E0A7AF39B633D5EA25C3B7EF4DFC5464B36DB7AF375...,0x71568459B729F7A7ABBED6C781A84CA4274D571003AC...,45,371.0,105.3,1,...,0,0,0,0,0,0,0,0,0,0
1,2,PRT,NaN,1095,0x21EDE41906B45079E75385B5AA33287CA09DE1AB86DE...,0x5FA1E0098A31497057C5A6B9FE9D49FD6DD47CCE7C26...,61,280.0,53.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,DEU,31.0,1095,0x31C5E4B74E23231295FDB724AD578C02C4A723F4BA2B...,0xC7CF344F5B03295037595B1337AC905CA188F1B5B3A5...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,FRA,60.0,1095,0xFF534C83C0EF23D1CE516BC80A65D0197003D27937D4...,0xBD3823A9B4EC35D6CAF4B27AE423A677C0200DB61E82...,93,240.0,60.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,FRA,51.0,1095,0x9C1DEF02C9BE242842C1C1ABF2C5AA249A1EEB4763B4...,0xE175754CF77247B202DD0820F49407C762C14A603B3A...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83585,83586,ITA,54.0,0,0x68010434A46BA6CEAFFACF00B7B7CD0E1825DC56E68F...,0x0A4038E9AE1E4E5A14832BEACEC6BCBE2219F275B65C...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
83586,83587,IRL,47.0,0,0x6DE7954E6AF065D29EF5C57D0DC8120FBAE6753D2CCB...,0xC0654B6A53840DD95DAE429966EC16E2A11FB186CC7B...,109,327.1,277.5,0,...,0,0,0,0,1,0,0,0,0,0
83587,83588,IRL,53.0,0,0x533C977BA6D1D8DFAD8D8D4C2250236D16EFD17B9F35...,0x3DCBEB254247836015CA95F0BBF42E6AF6A158380663...,0,0.0,0.0,0,...,0,0,0,0,1,0,0,0,0,0
83588,83589,IRL,85.0,0,0x58B3CB1975F09BD89EDD4DED8F644D1CCBE6B29C10C7...,0xEB64E8E6820F421508B96820AA3BA49404C01D178FE3...,109,981.3,9.0,0,...,0,0,0,0,0,1,0,0,0,0
83589,83590,IRL,13.0,0,0x1F2AA8A78ABFCBF190BFFB7BF2D5489EDFECD95CA51F...,0x0E0612BCF1C120B841DD02B9C27DF50B332815EDBB6D...,0,0.0,0.0,0,...,0,0,0,0,0,1,0,0,0,0

In [15]:
df.isnull().values.any()

True

In [16]:
df.dropna(axis=0, how='any')

,ID,Nationality,Age,DaysSinceCreation,NameHash,DocIDHash,AverageLeadTime,LodgingRevenue,OtherRevenue,BookingsCanceled,...,SRMediumFloor,SRBathtub,SRShower,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRAwayFromElevator,SRNoAlcoholInMiniBar,SRQuietRoom
0,1,PRT,51.0,150,0x8E0A7AF39B633D5EA25C3B7EF4DFC5464B36DB7AF375...,0x71568459B729F7A7ABBED6C781A84CA4274D571003AC...,45,371.0,105.3,1,...,0,0,0,0,0,0,0,0,0,0
2,3,DEU,31.0,1095,0x31C5E4B74E23231295FDB724AD578C02C4A723F4BA2B...,0xC7CF344F5B03295037595B1337AC905CA188F1B5B3A5...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,FRA,60.0,1095,0xFF534C83C0EF23D1CE516BC80A65D0197003D27937D4...,0xBD3823A9B4EC35D6CAF4B27AE423A677C0200DB61E82...,93,240.0,60.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,FRA,51.0,1095,0x9C1DEF02C9BE242842C1C1ABF2C5AA249A1EEB4763B4...,0xE175754CF77247B202DD0820F49407C762C14A603B3A...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,JPN,54.0,1095,0x6E70C1504EB27252542F58E4D3C8C83516E093334721...,0xE82EC1D6938A04CF19E1F7F55A402E7ABC686261537A...,58,230.0,24.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83585,83586,ITA,54.0,0,0x68010434A46BA6CEAFFACF00B7B7CD0E1825DC56E68F...,0x0A4038E9AE1E4E5A14832BEACEC6BCBE2219F275B65C...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
83586,83587,IRL,47.0,0,0x6DE7954E6AF065D29EF5C57D0DC8120FBAE6753D2CCB...,0xC0654B6A53840DD95DAE429966EC16E2A11FB186CC7B...,109,327.1,277.5,0,...,0,0,0,0,1,0,0,0,0,0
83587,83588,IRL,53.0,0,0x533C977BA6D1D8DFAD8D8D4C2250236D16EFD17B9F35...,0x3DCBEB254247836015CA95F0BBF42E6AF6A158380663...,0,0.0,0.0,0,...,0,0,0,0,1,0,0,0,0,0
83588,83589,IRL,85.0,0,0x58B3CB1975F09BD89EDD4DED8F644D1CCBE6B29C10C7...,0xEB64E8E6820F421508B96820AA3BA49404C01D178FE3...,109,981.3,9.0,0,...,0,0,0,0,0,1,0,0,0,0
83589,83590,IRL,13.0,0,0x1F2AA8A78ABFCBF190BFFB7BF2D5489EDFECD95CA51F...,0x0E0612BCF1C120B841DD02B9C27DF50B332815EDBB6D...,0,0.0,0.0,0,...,0,0,0,0,0,1,0,0,0,0

In [17]:
df.isnull().values.any()

True

In [19]:
df["Age"].value_counts()

50.0     2034
51.0     2031
54.0     1981
53.0     1938
49.0     1886
         ...
96.0        1
109.0       1
91.0        1
122.0       1
110.0       1
Name: Age, Length: 105, dtype: int64

In [20]:
df.groupby("Age")["DaysSinceCreation"].agg({"mean"})

              mean
Age
-11.0   890.000000
-10.0   885.500000
-9.0    856.500000
-7.0    996.666667
-6.0    671.333333
...            ...
 109.0  166.000000
 110.0  768.000000
 113.0  394.666667
 114.0  672.500000
 122.0  253.000000

[105 rows x 1 columns]

In [22]:
df.groupby(["Age", 'Nationality'])["DaysSinceCreation"].mean()

Age     Nationality
-11.0   DEU            827.0
        GBR            953.0
-10.0   DEU            891.0
        NLD            923.0
        PRT            837.0
                       ...
 110.0  BEL            768.0
 113.0  AUT            213.0
        DEU            485.5
 114.0  PRT            672.5
 122.0  ITA            253.0
Name: DaysSinceCreation, Length: 4406, dtype: float64

In [23]:
agg_df = df.groupby (["Age", 'Nationality', "LodgingRevenue", "BookingsCanceled"])["DaysSinceCreation"].mean().sort_values(ascending=False)
agg_df.head()

Age   Nationality  LodgingRevenue  BookingsCanceled
68.0  FRA          437.0           0                   1095.0
50.0  FRA          300.0           0                   1095.0
43.0  PRT          180.6           0                   1095.0
53.0  FRA          455.7           0                   1095.0
39.0  ITA          147.9           0                   1095.0
Name: DaysSinceCreation, dtype: float64

In [24]:
agg_df = agg_df.reset_index()
agg_df.head()

    Age Nationality  LodgingRevenue  BookingsCanceled  DaysSinceCreation
0  68.0         FRA           437.0                 0             1095.0
1  50.0         FRA           300.0                 0             1095.0
2  43.0         PRT           180.6                 0             1095.0
3  53.0         FRA           455.7                 0             1095.0
4  39.0         ITA           147.9                 0             1095.0

In [27]:
my_labels = ['0_18.0', '19_23', '24_30', '31_40', '41_70' ]
agg_df["AGE_CUT"] = pd.cut(x=agg_df["Age"], bins=[0, 18, 23, 30, 40, 70], labels=my_labels)
agg_df.tail(10)

,Age,Nationality,LodgingRevenue,BookingsCanceled,DaysSinceCreation,AGE_CUT
57040,23.0,DEU,521.45,0,0.0,19_23
57041,41.0,PRT,180.00,0,0.0,41_70
57042,41.0,USA,1723.80,0,0.0,41_70
57043,22.0,NLD,1101.00,0,0.0,19_23
57044,54.0,JPN,0.00,0,0.0,41_70
57045,26.0,FRA,853.30,0,0.0,24_30
57046,48.0,DEU,406.30,0,0.0,41_70
57047,22.0,ITA,349.10,0,0.0,19_23
57048,47.0,BRA,354.00,0,0.0,41_70
57049,26.0,DEU,584.00,0,0.0,24_30

In [28]:
agg_df["costumer_level_based"] = [f"{i[0]}_{i[1]}_{i[2]}_{i[-1]}" for i in agg_df.values]

In [30]:
agg_df = agg_df.loc[:, ["costumer_level_based", "DaysSinceCreation"]].groupby("costumer_level_based").agg({"DaysSinceCreation": "mean"}).sort_values(by="DaysSinceCreation", ascending=False).reset_index()
agg_df["costumer_level_based"].head()

0    32.0_ITA_168.0_31_40
1    32.0_FRA_535.0_31_40
2    40.0_ITA_147.9_31_40
3      72.0_FRA_455.0_nan
4    30.0_ITA_116.0_24_30
Name: costumer_level_based, dtype: object

In [31]:
agg_df["SEGMENT"] = pd.qcut(agg_df["DaysSinceCreation"], 4, labels=["D", "C", "B", "A"])
agg_df.head()

   costumer_level_based  DaysSinceCreation SEGMENT
0  32.0_ITA_168.0_31_40             1095.0       A
1  32.0_FRA_535.0_31_40             1095.0       A
2  40.0_ITA_147.9_31_40             1095.0       A
3    72.0_FRA_455.0_nan             1095.0       A
4  30.0_ITA_116.0_24_30             1095.0       A

In [32]:
agg_df.groupby(["SEGMENT"]).agg({"DaysSinceCreation": ["mean", "max", "sum"]})
agg_df[agg_df["SEGMENT"] == "C"].describe()

       DaysSinceCreation
count       14258.000000
mean          359.778810
std            82.678078
min           227.181818
25%           282.000000
50%           359.000000
75%           437.000000
max           494.500000

In [35]:
new_user = "32.0_FRA_535.0_31_40"
print(agg_df[agg_df["costumer_level_based"] == new_user])

   costumer_level_based  DaysSinceCreation SEGMENT
1  32.0_FRA_535.0_31_40             1095.0       A